---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';
---
<Header />
<Layout title='Presetspremiun'>
    <main>

    </main>
</Layout>
<Footer />