---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
---

<Header />
<Layout title="Presetsfree">
    <main></main>
</Layout>
<Footer />