---
import '../styles/global.css'
---
<section class="bg-slate-950 text-white  p-10">
    <ul >
        <li class="inline-block"><a href="#">Sobre</a></li>
        <li class="inline-block"><a href="#">contato</a></li>
        <li class="inline-block"><a href="#">Politica de privacidade</a></li>
    </ul>
    <br>
    <ul >
        <li>&copy; 2024 Pixpixel</li>
    </ul>
    <p>Social</p>
    <ul >
        <li><a href="#">Instagram</a></li>
        <li><a href="#">tiktok</a></li>
        <li><a href="#">Pinterest</a></li>
    </ul>
</section>