<section >
    <ul class="flex">
        <li class=" border-spacing-7 bg-cyan-800 rounded-2xl py-2 font-smibold inline-block hover:bg-teal-800 w-100 p-6 ml-2 mb-4 mt-5 text-white"><a href="/">Pagina inicial</a></li>
        <li class="border-spacing-7 bg-cyan-800 rounded-2xl py-2 font-semibold inline-block hover:bg-teal-800 w-50 p-6 ml-2 mb-4 mt-5 text-white"><a href="/presetspremiun/">Presets premiun</a></li>
        <li class="border-spacing-7 bg-cyan-800 rounded-2xl py-2 font-semibold inline-block hover:bg-teal-800 w-50 p-6 ml-2 mb-4 mt-5 text-white"><a href="/presetsfree/">Presets free</a></li>
    </ul>
</section>